.content_item{
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}
.bg-light .container-sm .row .content_item{
    padding: 8px;
}
.content_item .card img{
    height: 154px;
}
.content_item .card-body{
    height: 191px;
}
.bg-light{
    background-image: url("http://cdn.reatimes.vn/mediav2/media_old/upload/Daz8bLLgWiyONlYhLXFY7g/files/cac-mau-bungalow-trong-resort-5.jpg");
    background-repeat: no-repeat;  
    background-size: 800px;
    background-position: right top;
}
.bg-light .container-sm{
    padding-left: 50px;
    padding-right: 50px;
}
.container-sm .row{
    margin-top: 17px;
    border-radius: 4px;  

}
.bg-light .container-sm .text 
{
    padding-top: 20px ;
    margin-left: 20px;
}



