header >nav.navbar{
    padding: 0;
    margin: 0;

}

header > nav .container-fluid{
    margin: 0px;
    padding: 0 24px;
    height: 64px;
    width: 100%;
}
header > nav .container-fluid .middle a{
   display: table-cell;
   padding: 16px 8px;
}
.header_container{
    margin-top: 60px ;
}
/* .row{
    justify-content: space-around;
} */
.card {
    border-radius: 0%;
    margin-bottom: 20px;
    /* margin-right: 20px; */
}
