header {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


header > nav .container-fluid{
    margin: 0px;
    padding: 0 24px;
    height: 64px;
    width: 100%;

}
header > nav .container-fluid .middle a{
   display: table-cell;
   padding: 16px 8px;
}

header > nav .container-fluid .middle span.circle::before{
    top: 4px;
    left: 8px;
    width: 24px;
    height: 24px;
    content: "";
    z-index: 0;
    position: absolute;
    border-radius: 50%;
    background-color: rgb(134 243 255 / 30%);
}